python-dotenv>=1.0.0
sqlalchemy>=2.0.36
greenlet>=3.0.0
asyncpg>=0.30.0
psycopg>=3.2.3
langchain~=0.3.1
langchain-core~=0.3.0
langchain-community~=0.3.0
langchain-postgres~=0.0.12
langchain-text-splitters>=0.3.0
pypdf>=5.0.0
numpy>=2.1.0
fastembed>=0.3.0
